$breakpoints: (
  x-small: (
    alias: xs,
    width: 0
  ),
  small: (
    alias: sm,
    width: 576px
  ),
  medium: (
    alias: md,
    width: 768px
  ),
  large: (
    alias: lg,
    width: 992px
  ),
  x-large: (
    alias: xl,
    width: 1200px
  )
);
