@import 'breakpoints';
@import 'settings';

@mixin grid-column($size) {
  grid-column: auto / span $size;
}

.grid {
  display: grid;
  grid-template-columns: repeat(map-get($settings, columns), 1fr);
  grid-gap: map-get($settings, gutter);

  &--small-gutter {
    grid-gap: #{map-get($settings, gutter) / 2};
  }

  &--no-gutter {
    grid-gap: 0;
  }

  &__item {
    @include grid-column(map-get($settings, columns));
  }
}

@each $breakpoint, $min-width in $breakpoints {
  @media (min-width: #{$min-width}) {
    @for $col from 1 through map-get($settings, columns) {
      .#{$breakpoint}\:grid__item--#{$col} {
        @include grid-column($col);
      }
    }
  }
}

@for $col from 1 through map-get($settings, columns) {
  .grid__item--#{$col} {
    @include grid-column($col);
  }
}
